* {
    user-select: none;
    -moz-user-select: none;
    -ms-text-size-adjust: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
}

body {
    background-color: #ddd;
    color: #222;
    font-family: Helvetica;
    font-size: 18px; 
    margin: 0px;
    padding: 0;
    /* width: 640px; */
    width: 100%;
}

h1 {
    background: -webkit-gradient(linear, center top, center bottom, from(#AAB8C9), to(#6E85A2));
    background: -moz-linear-gradient(top,  #AAB8C9,  #6E85A2);
    border-color: #666;
    border-style: solid;
    border-width: 0 0 1px 0;
    color: rgb(255, 255, 255);
    font: bold 24px "Helvetica Neue", Helvetica;
    height: 24px; 
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    position: fixed;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: rgba(0, 0, 0, .2) 0 2px 2px;
    top: 0;
    white-space: nowrap;
    width: 640px; 
    z-index: 60;
}

h2 {
    background: #222;
    background: -webkit-gradient(linear, center top, center bottom, from(#606060), to(#080808));
    background: -moz-linear-gradient(top,  #606060,  #080808);
    border-color: #282828;
    border-radius: 8px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    color: rgb(250, 250, 250);
    font: bold 20px "Helvetica Neue", Helvetica;
    margin: 10px;
    overflow: hidden;
    padding: 6px;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
    white-space: nowrap;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

li { padding-bottom: 0.25em; }

p { margin: 10px; }

table {
    background: #eee;
    border-radius: 8px;
    font-size: 14px;
    margin: 0 10px 5px 10px;
    padding: 4px;     
    width: 620px; 
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
    
td {
    background: #fff;
    border-color: #aaa;
    border-style: solid;
    border-width: 0 1px 1px 0;
    margin: 0;
    padding: 3px;
    vertical-align: top;
}

.annunciator-white { 
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: 60px;
    height:28px;
    background-color: #f4f4f4;
    font-size: 9pt;
}

.annunciator-yellow { 
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: 60px;
    height:28px;
    background-color: #f3ee4c;
    font-size: 9pt;
}

.keytop {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-width: 0px;
    width: 35px;
    height: 35px;
    background-color: #0c0c0c;
    color: #f4f4f4;
    font-size: 7pt;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#AboutDetail {
    color: #444444;
    font: bold 14px "Helvetica Neue", Helvetica;
    margin: 5px 0px 20px 0px;
    padding: 0px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 1px;
}

#AboutName  {
    color: #6E85A2;
    font: bold 28px "Helvetica Neue", Helvetica;
    margin: 5px 0px 20px 0px;
    padding: 0px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 1px;
}

#content {                                 top:  22px; width: 640px; }

#fascia   { position: absolute; left:  0px; top: 190px; width: 640px; z-index: 10; } 

#iFascia  { position: absolute; left:  0px; top: 0px; width: 640px; z-index: 10; } 

#whenon  { position: absolute; left:  0px; top:   0px; width: 640px; z-index: 80; }

#ifcmc   { position: absolute; left: 27px; top: 152px;  width: 218px; z-index: 15; } 

#clicks  { position: absolute; left:  0px; top: 190px; width: 640px; z-index: 99; height: 727px; } 

#menu ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    width: 620px;
}

#menu ul li a {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    color: #222222;
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin: -2px 0 -3px 0;
    padding: 12px 10px;
    text-decoration: none;
}

#menu ul li:first-child a {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; 
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

#menu ul li:last-child a {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

#theHeader div.backButton {
    border-width: 0 8px 0 14px;
    color: white;
    font: bold 14px "Helvetica Neue", Helvetica;
    height: 24px;
    left: 10px;
    line-height: 14px;
    max-width: 50px;
    overflow: hidden;
    padding-top: 6px;
    padding-left: 8px;
    padding-right:8px;
    position: fixed;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
    top: 7px;
    z-index: 62;
    -moz-border-image: url(ui/back_button.png) 0 8 0 14;
    -o-border-image: url(ui/back_button.png) 0 8 0 14;
    -webkit-border-image: url(ui/back_button.png) 0 8 0 14;
}

#theHeader div.leftButton {
    border-width: 0 8px 0 8px;
    color: white;
    font: bold 14px "Helvetica Neue", Helvetica;
    height: 24px;
    left: 10px;
    line-height: 14px;
    max-width: 50px;
    overflow: hidden;
    padding-top: 6px;
    padding-left: 8px;
    padding-right:8px;
    position: fixed;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
    top: 7px;
    z-index: 62;
    -moz-border-image: url(ui/button.png) 0 8 0 8;
    -o-border-image: url(ui/button.png) 0 8 0 8;
    -webkit-border-image: url(ui/button.png) 0 8 0 8;
}

#theHeader div.rightButton {
    border-width: 0 8px 0 8px;
    color: white;
    font: bold 14px "Helvetica Neue", Helvetica;
    height: 24px;
    left: 580;
    line-height: 14px;
    max-width: 50px;
    overflow: hidden;
    padding-top: 6px;
    padding-left: 8px;
    padding-right:8px;
    position: fixed;
    text-align: center;
    text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
    top: 7px;
    z-index: 62;
    -moz-border-image: url(ui/button.png) 0 8 0 8;
    -o-border-image: url(ui/button.png) 0 8 0 8;
    -webkit-border-image: url(ui/button.png) 0 8 0 8;
}

#theDigits { visibility: hidden; }

#theHelps { position: absolute; top: 43px; width: 640px; }

#theLists { position: absolute; top: 43px; width: 640px; }

/* Alerts Column 1 */
#vAlertUplinkActy    { position: absolute; z-index: -1; top:  43;  left:57; }
#vAlertNoAtt          { position: absolute; z-index: -1; top:  97; left: 57; }
#vAlertStby          { position: absolute; z-index: -1; top: 151; left: 57; }
#vAlertKeyRel        { position: absolute; z-index: -1; top: 205; left: 57; }
#vAlertOprErr        { position: absolute; z-index: -1; top: 259; left: 57; }
#vAlertPrioDisp      { position: absolute; z-index: -1; top: 313; left: 57; }
#vAlertNoDap         { position: absolute; z-index: -1; top: 367; left: 57; }

/* Alerts Column 2 */
#vAlertTemp          { position: absolute; z-index: -1; top:  43; left: 169; }
#vAlertGimbalLock    { position: absolute; z-index: -1; top:  97; left: 169; }
#vAlertProg          { position: absolute; z-index: -1; top: 151; left: 169; }
#vAlertRestart       { position: absolute; z-index: -1; top: 205; left: 169; }
#vAlertTracker       { position: absolute; z-index: -1; top: 259; left: 169; }
#vAlertAlt           { position: absolute; z-index: -1; top: 313; left: 169; }
#vAlertVel           { position: absolute; z-index: -1; top: 367; left: 169; }

/* COMP ACTY Annunciator */
#vAnnCompActy        { position: absolute; top:  42; left: 370; z-index: 15; }

/* PROG */
#vMD1                { position: absolute; top:  76; left: 504; z-index: 60; }
#vMD2                { position: absolute; top:  76; left: 538; z-index: 60; }

/* VERB */ 
#vVD1                { position: absolute; top: 163; left: 376; z-index: 60; }
#vVD2                { position: absolute; top: 163; left: 410; z-index: 60; }

/* NOUN */
#vND1                { position: absolute; top: 163; left: 504; z-index: 60; }
#vND2                { position: absolute; top: 163; left: 538; z-index: 60; }


/* Register 1 */
#vR1S                { position: absolute; top: 231; left: 374; z-index: 60; }
#vR1D1               { position: absolute; top: 231; left: 398; z-index: 60; }
#vR1D2               { position: absolute; top: 231; left: 432; z-index: 60; }
#vR1D3               { position: absolute; top: 231; left: 466; z-index: 60; }
#vR1D4               { position: absolute; top: 231; left: 500; z-index: 60; }
#vR1D5               { position: absolute; top: 231; left: 534; z-index: 60; }

/* Register 2 */
#vR2S                { position: absolute; top: 300; left: 374; z-index: 60; }
#vR2D1               { position: absolute; top: 300; left: 398; z-index: 60; }
#vR2D2               { position: absolute; top: 300; left: 432; z-index: 60; }
#vR2D3               { position: absolute; top: 300; left: 466; z-index: 60; }
#vR2D4               { position: absolute; top: 300; left: 500; z-index: 60; }
#vR2D5               { position: absolute; top: 300; left: 534; z-index: 60; }

/* Register 3 */
#vR3S                { position: absolute; top: 369; left: 374; z-index: 60; }
#vR3D1               { position: absolute; top: 369; left: 398; z-index: 60; }
#vR3D2               { position: absolute; top: 369; left: 432; z-index: 60; }
#vR3D3               { position: absolute; top: 369; left: 466; z-index: 60; }
#vR3D4               { position: absolute; top: 369; left: 500; z-index: 60; }
#vR3D5               { position: absolute; top: 369; left: 534; z-index: 60; }

/*** Styles for the Mission Timer ***/

#mtcontent { left: 0; top: 22px; width: 640px; }

#timer     { position: absolute; top: 43px; width: 640px; left: 0px; }

#vmtPSI    { position: absolute; top: 60px; z-index: 51; left: 34px;  }

#vmtH1     { position: absolute; top: 60px; z-index: 51; left: 86px;  }
#vmtH2     { position: absolute; top: 60px; z-index: 51; left: 118px; }
#vmtH3     { position: absolute; top: 60px; z-index: 51; left: 150px; }

#vmtM1     { position: absolute; top: 60px; z-index: 51; left: 202px; }
#vmtM2     { position: absolute; top: 60px; z-index: 51; left: 234px; }

#vmtS1     { position: absolute; top: 60px; z-index: 51; left: 286px; }
#vmtS2     { position: absolute; top: 60px; z-index: 51; left: 318px; }
                
#vmtSW1    { position: absolute; top: 54px; z-index: 52; left: 407px; }
#vmtSW2    { position: absolute; top: 54px; z-index: 52; left: 463px; }
#vmtSW3    { position: absolute; top: 54px; z-index: 52; left: 519px; }
#vmtSW4    { position: absolute; top: 54px; z-index: 52; left: 575px; }

body:after { content: '640'; display: none; }

